---
title: 8 Isolated iPhone 6s mockups
permalink: /template/7-iphone-6-mockups-in-the-gardens
---
 <div class="template-gallery"><img src="https://dl.airtable.com/Rc4nmjOmQei9mVGMrVgt_full_qaw7gma674pqz3b6m3n5.png"/></div><div class="template-title">7 iPhone 6 Mockups in the Gardens</div><div class="template-link"><a href="https://ui8.net/products/8-iphone-6s-perspective-mockups"></a>https://creativemarket.com/lisof55/831156-7-iPhone-6-Mockups-in-the-Gardens</div><div class="template-device">Device: iPhone</div><div class="template-author">Author: Lis Templates</div>