---
title: 8 Isolated iPhone 6s mockups
permalink: /template/iphone-6-6s-plus-minimal-mockup
---
 <div class="template-gallery"><img src="https://dl.airtable.com/Rc4nmjOmQei9mVGMrVgt_full_qaw7gma674pqz3b6m3n5.png"/></div><div class="template-title">iPhone 6/6S Plus Minimal Mockup</div><div class="template-link"><a href="https://ui8.net/products/8-iphone-6s-perspective-mockups"></a>https://sketchrepo.com/free-sketch/iphone-66s-plus-minimal-mockup-freebie/</div><div class="template-device">Device: iPhone</div><div class="template-author">Author: Max Brunel</div>