
<div class="content-left col-md-3"><a class="category-row" href="/">
    <div class="row-container" id="menuALL"><span class="row-icon"><img src="/images/icons/All.svg"/></span><span class="row-text">All</span><span class="badge row-count">999</span></div>
    <div class="clearfix"></div></a><a class="category-row" href="/?device=iPhone">
    <div class="row-container" id="menuIPHONE"><span class="row-icon"><img src="/images/icons/iPhone.svg"/></span><span class="row-text">iPhone</span><span class="badge row-count">101</span></div>
    <div class="clearfix"></div></a><a class="category-row" href="/?device=iPad">
    <div class="row-container" id="menuIPAD"><span class="row-icon"><img src="/images/icons/iPad.svg"/></span><span class="row-text">iPad</span><span class="badge row-count">29</span></div>
    <div class="clearfix"></div></a><a class="category-row" href="/?device=Macbook">
    <div class="row-container" id="menuMACBOOK"><span class="row-icon"><img src="/images/icons/Macbook.svg"/></span><span class="row-text">Macbook</span><span class="badge row-count">38</span></div>
    <div class="clearfix"></div></a><a class="category-row" href="/?device=iMac">
    <div class="row-container" id="menuIMAC"><span class="row-icon"><img src="/images/icons/iMac.svg"/></span><span class="row-text">iMac</span><span class="badge row-count">8</span></div>
    <div class="clearfix"></div></a><a class="category-row" href="/?device=Apple%20Watch">
    <div class="row-container" id="menuAPPLEWATCH"><span class="row-icon"><img src="/images/icons/AppleWatch.svg"/></span><span class="row-text">Apple Watch</span><span class="badge row-count">22</span></div>
    <div class="clearfix"></div></a><a class="category-row" href="#">
    <div class="row-container" id="menuANDROID"><span class="row-icon"><img src="/images/icons/Android.svg"/></span><span class="row-text">Android</span><span class="badge row-count">0</span></div>
    <div class="clearfix"></div></a><a class="category-row" href="#">
    <div class="row-container" id="menuOTHERS"><span class="row-icon"><img src="/images/icons/Others.svg"/></span><span class="row-text">Others</span><span class="badge row-count">0</span></div>
    <div class="clearfix"></div></a></div>