<a class="category-row" href="/">
  <div class="row-container" category="ALL"><span class="row-icon"><img src="/images/icons/All.svg"/></span><span class="row-text">All</span><span class="badge row-count">134</span></div>
  <div class="clearfix"></div></a><a class="category-row" href="/?device=iPhone">
  <div class="row-container" category="IPHONE"><span class="row-icon"><img src="/images/icons/iPhone.svg"/></span><span class="row-text">iPhone</span><span class="badge row-count">77</span></div>
  <div class="clearfix"></div></a><a class="category-row" href="/?device=iPad">
  <div class="row-container" category="IPAD"><span class="row-icon"><img src="/images/icons/iPad.svg"/></span><span class="row-text">iPad</span><span class="badge row-count">25</span></div>
  <div class="clearfix"></div></a><a class="category-row" href="/?device=Macbook">
  <div class="row-container" category="MACBOOK"><span class="row-icon"><img src="/images/icons/Macbook.svg"/></span><span class="row-text">Macbook</span><span class="badge row-count">34</span></div>
  <div class="clearfix"></div></a><a class="category-row" href="/?device=iMac">
  <div class="row-container" category="IMAC"><span class="row-icon"><img src="/images/icons/iMac.svg"/></span><span class="row-text">iMac</span><span class="badge row-count">7</span></div>
  <div class="clearfix"></div></a><a class="category-row" href="/?device=Apple%20Watch">
  <div class="row-container" category="APPLEWATCH"><span class="row-icon"><img src="/images/icons/AppleWatch.svg"/></span><span class="row-text">Apple Watch</span><span class="badge row-count">18</span></div>
  <div class="clearfix"></div></a><a class="category-row" href="/?device=Android">
  <div class="row-container" category="ANDROID"><span class="row-icon"><img src="/images/icons/Android.svg"/></span><span class="row-text">Android</span><span class="badge row-count">0</span></div>
  <div class="clearfix"></div></a><a class="category-row" href="/?device=Others">
  <div class="row-container" category="OTHERS"><span class="row-icon"><img src="/images/icons/Others.svg"/></span><span class="row-text">Others</span><span class="badge row-count">0</span></div>
  <div class="clearfix"></div></a>