a(href="/" class="category-row")
	div(class="row-container" category="ALL")
		span(class="row-icon")
			img(src="/images/icons/All.svg")
		span(class="row-text")
			| All
		span(class="badge row-count")
			= All
	div(class="clearfix")

a(href="/?device=iPhone" class="category-row")
	div(class="row-container" category="IPHONE")
		span(class="row-icon")
			img(src="/images/icons/iPhone.svg")
		span(class="row-text")
			| iPhone
		span(class="badge row-count")
			= iPhone
	div(class="clearfix")

a(href="/?device=iPad" class="category-row")
	div(class="row-container" category="IPAD")
		span(class="row-icon")
			img(src="/images/icons/iPad.svg")
		span(class="row-text")
			| iPad
		span(class="badge row-count")
			= iPad
	div(class="clearfix")

a(href="/?device=Macbook" class="category-row")
	div(class="row-container" category="MACBOOK")
		span(class="row-icon")
			img(src="/images/icons/Macbook.svg")
		span(class="row-text")
			| Macbook
		span(class="badge row-count")
			= Macbook
	div(class="clearfix")

a(href="/?device=iMac" class="category-row")
	div(class="row-container" category="IMAC")
		span(class="row-icon")
			img(src="/images/icons/iMac.svg")
		span(class="row-text")
			| iMac
		span(class="badge row-count")
			= iMac
	div(class="clearfix")

a(href="/?device=Apple%20Watch" class="category-row")
	div(class="row-container" category="APPLEWATCH")
		span(class="row-icon")
			img(src="/images/icons/AppleWatch.svg")
		span(class="row-text")
			| Apple Watch
		span(class="badge row-count")
			= locals["Apple Watch"]
	div(class="clearfix")

a(href="/?device=Android" class="category-row")
	div(class="row-container" category="ANDROID")
		span(class="row-icon")
			img(src="/images/icons/Android.svg")
		span(class="row-text")
			| Android
		span(class="badge row-count")
			= Android
	div(class="clearfix")

a(href="/?device=Others" class="category-row")
	div(class="row-container" category="OTHERS")
		span(class="row-icon")
			img(src="/images/icons/Others.svg")
		span(class="row-text")
			| Others
		span(class="badge row-count")
			= Others
	div(class="clearfix")
