| ---
| title: 8 Isolated iPhone 6s mockups
| permalink: /template/
= s
|
| ---
| 

div(class="template-gallery")
	img(src="https://dl.airtable.com/Rc4nmjOmQei9mVGMrVgt_full_qaw7gma674pqz3b6m3n5.png")

div(class="template-title")
	= r.fields.Name

div(class="template-link")
	a(href="https://ui8.net/products/8-iphone-6s-perspective-mockups")
	= r.fields.URL

div(class="template-device")
	| Device: iPhone

div(class="template-author")
	| Author: 
	= r.fields.Author
